
.Section input + select{
font-size: 16px;
}

.Section{
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:start;
    width:90%;
    height:100%;
}

.Header{
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:8px;
}

.Header h1{
font-size: 24px;
font-weight: 600;
line-height: normal;
}

.Header p{
font-size: 16px;
font-weight: 400;
}

.Header button{
    display:flex;
    align-items:center;
    gap:8px;
    border:none;
    background:transparent;
    color:#001F6D;
font-size: 16px;
font-weight: 500;
cursor:pointer;

}

.Header button h1{
    color:black;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}

.FormContainer{
    display:flex;
    flex-direction:column;
    align-items: start;
    gap:16px;
    width:100%;
}

.FormContainer label{
    display:flex;
    flex-direction:column;
    gap:8px;
font-size: 16px;
font-weight: 500;
}


.title{
    width:100%;
}

.title input{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}
.title select{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}
.currency{
    width:100%;
}
.currency select{
    width:45%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}
.threeColumn{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:16px;
}

.threeColumn label{
    width:100%;
}
.threeColumn select{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}
.threeColumn input{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}


.twoColumn{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:16px;
}

.twoColumn label{
    width:100%;
}

.twoColumn select{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}
.twoColumn input{
    width:100%;
    height:52px;
    padding:14px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.inputFieldContainer{
    display: flex;
    flex-direction: column;
    gap:16px;
    height:100%;
    width:100%;
   
}

.inputField{
    display: flex;
    gap:16px;
    height:100%;
    width:100%;
    flex-wrap: wrap;
}


#file_upload {
    display: flex;
    align-self: stretch;
    gap: 26px;
    align-items:center;
}

#file_upload label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 200px;
    border: 1px dashed black;
    border-radius: 16px;
    background-color: #fff;
    font-size: 14px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#file_upload input {
    display: none;
}

#file_upload img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    object-fit: cover;
}

.detailInfo{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.facilities{
    display: flex;
    align-items:center;
    gap:16px;
    
}
.facilities span{
    display: flex;
    align-items:center;
    gap:8px;
}

.DetailinfoContainer{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.info{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.info p:nth-child(1){
font-size: 18px;
font-weight: 600;
text-align: left;
color:black;
}

.info p:nth-child(2){
color:#434343;
font-size: 16px;
font-weight: 500;
text-align: left;
}
.info p:nth-child(3){
color:#4A4A4A;
font-size: 16px;
font-weight: 400;
text-align: left;

}

.feature{
    display:flex;
    flex-direction:column;
    gap:8px;
    color:#4A4A4A;
    font-size: 16px;
    font-weight: 400;
    text-align: left;  
}

.feature ul{
    padding-left:30px;
}

.extraInfo{
    color:#4A4A4A;
    font-size: 16px;
    font-weight: 400;
    text-align: left; 
    border-bottom:2px solid #001F6D;
    cursor:pointer;
}

.DetailImgContainer{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.DetailImgContainer img{
    height:200px;
    width:210px;
    border-radius:8px;
    
}
.buttonContainer{
    width:100%;
    display:flex;
    justify-content:end;
    gap:16px;
}

.buttonContainer button{
font-size: 16px;
font-weight: 500;
height:52px;
padding: 14px 32px;
border-radius:8px;
border:none;

}

.buttonContainer button:nth-child(1){
    background: #E8E8E8;
    color:#626161;
}

.buttonContainer button:nth-child(2){
    background: #DA0025;
    color:white;
}



@media ( width <=400px) {
    .threeColumn{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:16px;
    }
    .twoColumn{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:16px;
    }
    
    .currency select{
        width:100%;
    }
}
@media (400px <= width <=779px) {
    .threeColumn{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:16px;
    }
    .twoColumn{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:16px;
    }
    .currency select{
        width:100%;
    }
    
#file_upload label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border: 1px dashed black;
    border-radius: 16px;
    background-color: #fff;
    font-size: 14px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
}

@media (780px <= width <= 960px) {
    
}