.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
}

.text h2{
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}

.text p{
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}


.transaction{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:16px;
    width:100%;
}

.transactionId{
    display:flex;
    flex-direction:column;   
}

.transactionId p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color:#434343;

}

.transactionId strong{
    color: var(--Grey-5, #3B3A3A);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.transactionPrice{
    display:flex;
    flex-direction:column; 
}
.transactionPrice p{
    font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color:#434343;
}

.transactionPrice strong{
    color: var(--Grey-5, #3B3A3A);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.transaction hr{
   transform:rotate(90deg);
   -webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
   -ms-transform:rotate(90deg);
   -o-transform:rotate(90deg);
   width:3.5%;

}


.facilities{
    display:flex;
    gap:12px;
    align-items:center;
}

.facilities span{
    display: flex;
    gap:8px;
    align-items: center;
}

.transactionDesc{
    width:auto;
}

.transactionDesc p:nth-child(1){
    color: var(--Grey-5, #3B3A3A);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.transactionDesc p:nth-child(2){
    color: #434343;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.viewProperty{
    background:#DA0025;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    transition: 0.7s ease;
    cursor: pointer;
}

.viewProperty:hover{
    scale:0.95;
    transition: 0.7s ease;
}

.Line{
    width:100%;
    background:#4B4B4B;
}

.PropertyContainer{
    width: 70%;
    display: flex;
    gap:50px;
    height: auto;
    padding: 10px 0;
}

.ImageContainer {
    height: 240px;
    width: 50%;
    overflow: clip;
    position: relative;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    border-radius: 8px;
    cursor: pointer;
}
.image{
    width:100%;
    height:100%;
    object-fit:fill;
    transition:0.3s ease-out;
    -webkit-transition:0.3s ease-out;
    -moz-transition:0.3s ease-out;
    -ms-transition:0.3s ease-out;
    -o-transition:0.3s ease-out;
    scale:1.3;
}

.image:hover{
    scale:1;
    transition:0.3s ease-in;
    -webkit-transition:0.3s ease-in;
    -moz-transition:0.3s ease-in;
    -ms-transition:0.3s ease-in;
    -o-transition:0.3s ease-in;
}

.propertyInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    position: relative;
}

.propertyDescription p{
font-size: 16px;
font-weight: 400;
color: #4A4A4A;

}


.keyFeatures{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyFeatures p{
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
}
.keyFeatures li{
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
}

.readMore{
    width: fit-content;
    border-bottom: 2px solid #001F6D;
    cursor: pointer;
    transition: 0.3s ease;
}

.readMore:hover{
    transition: 0.3s ease;
    scale: 0.98;
}

.propertyFeatures {
    display: flex;
    position: absolute;
    z-index: 20;
    bottom: 5%;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    z-index: 0;
}


.propertyFeatures li {
    display: flex;
    list-style: none;
    background: #00061666;
    height: 30px;
    padding: 2px 8px;
    width: auto;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

.propertyFeatures li p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}




.details{
    display:flex;
    gap:16px;
    flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.details > div{
    display: flex;
min-width: auto;
max-width: 300px;
height: 125px;
padding: 15px 16px;
flex-direction: column;
justify-content: start;
align-items: start;
gap: 8px;
border-radius: 12px;
background: #FFF;
}

.details > div h4{
    color: var(--Grey-5, #3B3A3A);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.detailsDesc p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.DetailsPrice{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


@media ( width <=400px) {
    .transaction{
        display:flex;
        flex-direction:column;
        align-items:start;
        justify-content:space-between;
        gap:16px;
        width:100%;
    }

    .transaction hr{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        width:100%;
}

.viewProperty{
    background:#DA0025;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    width:100%;
}
.Line{
display:none;
}


.PropertyContainer{
    width: 90%;
    display: flex;
   flex-direction: column;
   gap: 20px;
}


.ImageContainer {
    height: 240px;
    width: 100%;
    overflow: clip;
    position: relative;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    border-radius: 8px;
    cursor: pointer;
}

.propertyInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
}

.details{
    display:flex;
    gap:16px;
   flex-wrap:wrap;
   justify-content:center;
}
.details > div{
    display: flex;
width: 100%;
padding: 20px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
border-radius: 12px;
background: #FFF;
}


}
@media (400px <= width <=779px) {
    .transaction{
        display:flex;
        flex-direction:column;
        align-items:start;
        justify-content:space-between;
        gap:16px;
        width:100%;
    }

    .transaction hr{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        width:100%;
}
.viewProperty{
    background:#DA0025;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    width:100%;
}
.Line{
    display:none;
    }

.details{
    display:flex;
    gap:16px;
   flex-wrap:wrap;
   justify-content:center;
}
.details > div{
    display: flex;
width: 100%;
padding: 20px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
border-radius: 12px;
background: #FFF;
}

}

@media (780px <= width <= 1300px) {
    
}
   