.Section{
  height: auto;
  width:100%;
  padding-bottom: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:80px;
  
}

.container{
  height: 50dvh;
  width: 100%;
  background: linear-gradient(rgba(17, 17, 17, 0.274), rgba(7, 6, 6, 0.267)),
  url("https://framerusercontent.com/images/JqIOTdbBsZxZ7nrSsTydwl3rjs.png");
background-repeat: no-repeat;
object-fit: cover;
background-size: cover;
background-size: 100% 85%;
display: flex;
flex-direction: column;
justify-content: end;
align-items:center;
gap:16px;
position: relative;
}

.Textcontainer{

width: 90%;
position: absolute;
top:15%;
}

.Text{
width: 35%;
}

.Text h2{
font-size: 36px;
font-weight: 600; 
color:white;
}

.Text p{
font-size: 16px;
font-weight: 500;
color: white;
}
.HeroCompContainer{
  width: 80%;
  height: 121.96px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  box-shadow:10px 0px 30px 10px rgba(124, 122, 122, 0.219);
}

.Herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 55%;
  height: 50px;
  padding: 0px 10px;
  color: #2c3a61;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 8px;
  background: #F4F7FF;

}

.inputContainer input{
    width: 100%;
    height: 85%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F4F7FF;

}



.SelectContainer {
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  width: 23%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.SelectContainer select{
    height: 95%;
    width: 95%;
    border: none;
    outline: none;
    font-size: 16px;
}

.SelectContainer select option{
    font-size: 16px;
}
.searchButton {
  height: 50px;
  width: 10%;
  background-color: #da0025;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.searchButton:hover{
    background-color: #99041d;
    cursor: pointer;
    transition: ease 0.4s;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
}


.muti{
  width:100%;
  height:auto;
}

@media ( width <= 400px) {
  .container{
      height: 60dvh;
      width: 100%;
      background: linear-gradient(rgba(17, 17, 17, 0.274), rgba(7, 6, 6, 0.267)),
      url("https://framerusercontent.com/images/JqIOTdbBsZxZ7nrSsTydwl3rjs.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-size: 100% 60%;
    display: flex;
flex-direction: column;
justify-content: end;
align-items:center;
gap:16px;
position: relative;
  }

  .Textcontainer{
    
    width: 95%;
    position: absolute;
    top:2%;
  }
  
  .Text{
    width: 95%;
      }
  
  .Text h2{
    font-size: 24px;
    font-weight: 600; 
    color:white;
  }


  .HeroCompContainer{
      width: 95%;
      height: auto;
      background-color: white;
      display: flex;
      align-items: center;
      padding:15px 0;
      border-radius:10px ;
      -webkit-border-radius:10px ;
      -moz-border-radius:10px ;
      -ms-border-radius:10px ;
      -o-border-radius:10px ;
      box-shadow:10px 0px 30px 10px rgba(124, 122, 122, 0.219);
  }
  
  .Herocontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      gap: 15px;
      width: 100%;
      
    }
  
    .inputContainer {
      display: flex;
      align-items: center;
      width: 90%;
      height: 52px;
      padding: 0px 0px;
      color: #2c3a61;
      text-decoration: none;
      border: solid 1px transparent;
      border-radius: 8px;
      font-size:16px;
      background: #F4F7FF;
      
    }

    .inputContainer input{
      font-size:16px;
      background: #F4F7FF;
    }
  
    
  .SelectContainer {
    border: 1px solid #D0D5DD;    border-radius: 8px;
  width: 90%;
  height: 52px;
  display: flex;
  justify-content: center;
  }
  
  .searchButton {
  height: 52px;
  width: 90%;
  background-color: #da0025;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: unset;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  }
}

@media (400px <= width <=779px) {
  .container{
      height: 60dvh;
      width: 100%;
      background: linear-gradient(rgba(17, 17, 17, 0.274), rgba(7, 6, 6, 0.267)),
      url("https://framerusercontent.com/images/JqIOTdbBsZxZ7nrSsTydwl3rjs.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-size: 100% 65%;
    display: flex;
flex-direction: column;
justify-content: end;
align-items:center;
gap:16px;
position: relative;
  }

  .Textcontainer{
    
    width: 95%;
    position: absolute;
    top:5%;
  }
  
  .Text{
    width: 95%;
      }
  
  .Text h2{
    font-size: 24px;
    font-weight: 600; 
    color:white;
  }

  
  .HeroCompContainer{
      width: 95%;
      height: auto;
      background-color: white;
      display: flex;
      align-items: center;
      padding:15px 0;
      border-radius:10px ;
      -webkit-border-radius:10px ;
      -moz-border-radius:10px ;
      -ms-border-radius:10px ;
      -o-border-radius:10px ;
      box-shadow:10px 0px 30px 10px rgba(124, 122, 122, 0.219);
  }
  
  .Herocontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      gap: 15px;
      width: 100%;
      
    }
  
    .inputContainer {
      display: flex;
      align-items: center;
      width: 90%;
      height: 52px;
      padding: 0px 0px;
      color: #2c3a61;
      text-decoration: none;
      border: solid 1px transparent;
      border-radius: 8px;
      background: #F4F7FF;
    }
  
    .inputContainer input {
      background: #F4F7FF;
    }
  .SelectContainer {
    border: 1px solid #D0D5DD;    border-radius: 8px;
  width: 90%;
  height: 52px;
  display: flex;
  justify-content: center;
  }
  
  .searchButton {
  height: 52px;
  width: 90%;
  background-color: #da0025;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  }
}

@media (780px <= width <= 1200px) {

.container{
  height: 60dvh;
  width: 100%;
  background: linear-gradient(rgba(17, 17, 17, 0.274), rgba(7, 6, 6, 0.267)),
  url("https://framerusercontent.com/images/JqIOTdbBsZxZ7nrSsTydwl3rjs.png");
background-repeat: no-repeat;
object-fit: cover;
background-size: cover;
background-size: 100% 80%;
display: flex;
flex-direction: column;
justify-content: end;
align-items:center;
gap:16px;
position: relative;
}

.Textcontainer{

width: 95%;
position: absolute;
top:8%;
}

.Text{
width: 55%;
}

.Text h2{
font-size: 32px;
font-weight: 600; 
color:white;
}


.HeroCompContainer{
  width: 90%;
  height: 121.96px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  box-shadow:10px 0px 30px 10px rgba(124, 122, 122, 0.219);
}

.Herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 45%;
  height: 50px;
  padding: 0px 10px;
  color: #2c3a61;
  text-decoration: none;
  border: solid 1px transparent;
  background: #F4F7FF;
  border-radius: 8px;
}

.inputContainer input{
  background: #F4F7FF;
}


.SelectContainer {
border: solid 1px #D0D5DD;
border-radius: 8px;
width: 25%;
height: 50px;
display: flex;
justify-content: center;
}

.searchButton {
height: 50px;
width: 15%;
background-color: #da0025;
border: none;
color: white;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}

}