.container * {
    font-family: "Poppins";
    margin: 0;
}
.Section{
    width: 100%;
    height:auto;
    display:grid;
    place-items:center;
    padding-top:20px ;
    padding-bottom:100px ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    gap:20px;
}

.navBack{
    width:100%;
}

.navBack button{
    background:transparent;
    border:none;
    display:flex;
    align-items:center;
    gap:10px;
font-size: 18px;
font-weight: 600;
text-align: center;
color:#001F6D;
cursor:pointer;
}

.navBack button:hover{
    color:#001F6D;
}


.view {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
}

.imagesContainer{
    display:flex;
    gap:20px;
    align-items: center;
}

.mainImage{
    flex:3;
    width: 100%;
    height: 504px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    object-fit: fill;
}

.SubImages{
    flex:1;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.SubImages img{
    width: 100%;
    height: 244px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}



/* CONTENT */

.detailContainer{
    display: flex;
    justify-content:space-between;
    width:100%;
    gap:25px;
}

.content{
    width: 90%;
    display: flex;
}

.content_details{
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items: start;
    
}


#options {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 45px;

}

#options label {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4.516px;
    padding: 5px;
font-size: 21px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color:#3B3A3A;

}

#options input {
    display: none;
}

#options > img {
    border-radius: 4.516px;
    background-color: rgba(0, 6, 22, 0.40);
    padding: 5px;
}

.selected {
    background-color: #E8EFFF;
}

.unselected {
    background-color: transparent;
}

.price {
    display:flex;
    align-items:center;
    gap:56px;

}
.price h1{
font-size: 42px;
font-weight: 600;
line-height: 63px;
letter-spacing: 0em;
text-align: left;
color:#000000;

}

.price button{
    background: linear-gradient(0deg, #E6556E, #E6556E),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    height:50px;
    width:190px;
    border:none;
    padding:16px 16px;
    color:white;
    border-radius:10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor:pointer;
    transition:0.6s;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -ms-transition:0.6s;
    -o-transition:0.6s;
}

.price button:hover{
    scale:0.90;
    transition:0.3s;
}

.facilities{
    display:flex;
    align-items:center;
    gap:20px;
    padding-bottom: 10px;
}

.facilities span{
    display:flex;
    align-items:center;
    gap:10px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-bottom:20px;
}

.info p:nth-child(1){
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color:black;
}
.info p:nth-child(2){
color:#434343;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}
.info p:nth-child(3){
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#4A4A4A;
width:95%;
}


.feature {
    font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#4A4A4A;
}

.extraInfo{
    display:flex;
    flex-direction: column;
    gap:20px;
    width: auto;
    align-items:start;
}
.readMore{
    border-bottom: 2px solid #001F6D ;
    width:auto;
color:#4A4A4A;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
}

.listed{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#4A4A4A;
}

.company{
    width: 170.61px;
height: 42.31px;
}

.buy{
    height: auto;
    display:flex;
    flex-direction:column;
    gap: 25px;
    align-items:center;
}

.agent{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.mortgage{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.mortgage h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:#141212;
}
.mortgage p{
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:#626161;
width:100%;

}

.mortgage a{ padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.mortgage a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}


.conveyancer{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.conveyancer h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:#141212;
}
.conveyancer p{
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:#626161;
width:100%;

}

.conveyancer a{ padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.conveyancer a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}

.content_contact{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.contentContactBtnCon{
    width:75%;
    display: flex;
    flex-direction:column;
    gap:25px;
}
.transparentBorder{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #141212;
    color:#141212;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background:transparent;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}
.content_contact button{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}

.content_contact button:hover{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    scale:0.96;
}

.extraBtn {
    display:flex;
    gap:16px;
}

.extraBtn button{
    height:56px;
    width:50%;
}

.solidBorder{
    background:#E6556E;
    border:none;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    color:white;
}



@media ( width <=400px) {
    .Section{
        width: 100%;
        height:auto;
        display:flex;
        padding-top:20px ;
        padding-bottom:100px ;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width:100%;
        gap:16px;
    }


    
.view {
    display: flex;
    flex-direction: unset;
    align-items:start;
    width: 100%;
    gap:0px;
}

 
.imagesContainer{
    display:flex;
    gap:0px;
    align-items: center;
    width:100%;
}

.mainImage{
    flex:unset;
    width: 100%;
    height:450px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    object-fit: fill;
}

.SubImages{
    display: none; 
}

.detailContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    gap:16px;
}


.content{
    width: 100%;
    display: flex;
    justify-content:center;
}

.content_details{
    display:flex;
    flex-direction:column;
    gap:0px;
    align-items: start;
    width:95%;
}
.optionContainer{
    width:100%;
}
  
#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#options label {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4.516px;
    padding: 4px;
font-size: 16px;
font-weight: 400;
color:#3B3A3A;

}
#options img{
    height:20px;
    width:20px;
}
.price {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:16px;
    width:80%;
}


.price h1{
    font-size: 24px;
    font-weight: 600;
    color:#000000;
    }
    
    .price button{
        background: linear-gradient(0deg, #E6556E, #E6556E),linear-gradient(0deg, #FFFFFF, #FFFFFF);
        height:35px;
        width:140px;
        border:none;
        padding:4px 10px;
        color:white;
        border-radius:10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        cursor:pointer;
        transition:0.6s;
        -webkit-transition:0.6s;
        -moz-transition:0.6s;
        -ms-transition:0.6s;
        -o-transition:0.6s;
    }
    

.facilities{
    display:flex;
    align-items:center;
    gap:16px;
    padding-bottom: 5px;
}
.facilities span{
font-size: 18px;
font-weight: 500;
text-align: left;
}

.facilities span img{
    height:22px;
    width:22px;
}

.info{
    display: flex;
    flex-direction: column;
    gap:0px;
    padding-bottom:20px;
}


.info p:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    color:black;
    }
    .info p:nth-child(2){
    color:#434343;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        
    }
    .info p:nth-child(3){
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#4A4A4A;
    width:100%;
    }

.feature {
    font-size: 16px;
font-weight: 400;
color:#4A4A4A;
}

.keyFeatures{
font-size: 16px;
font-weight: 700;
color: #4A4A4A;

}

.feature ul{
    padding-left:30px;
}

.extraInfo{
    display:flex;
    flex-direction: column;
    gap:16px;
    width: auto;
    align-items:start;
}
.readMore{
    border-bottom: 2px solid #001F6D ;
    width:auto;
color:#4A4A4A;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}

.listed{
font-size: 16px;
font-weight: 400;
color:#4A4A4A;
}

.company{
    width: 190.61px;
height: 32.31px;
}
 

.buy{
    height: auto;
    display:flex;
    flex-direction:column;
    gap: 25px;
    align-items:center;
    width: 100%;
}

.agent{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.mortgage{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.mortgage h4{
    font-size: 18px;
    font-weight: 600;
    color:#141212;
}
.mortgage p{
font-size: 16px;
font-weight: 400;
color:#626161;
width:100%;

}

.mortgage a{ 
    width:100%;
    text-align:center;
    padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.mortgage a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}


.conveyancer{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.conveyancer h4{
    font-size: 18px;
    font-weight: 600;
    color:#141212;
}
.conveyancer p{
font-size: 16px;
font-weight: 400;
color:#626161;
width:100%;

}

.conveyancer a{ 
    width:100%;
    text-align:center;
    padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.conveyancer a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}

.content_contact{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.contentContactBtnCon{
    width:85%;
    display: flex;
    flex-direction:column;
    gap:25px;
}
.transparentBorder{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #141212;
    color:#141212;
    font-size: 16px;
    font-weight: 500;
    background:transparent;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}
.content_contact button{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}

.content_contact button:hover{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    scale:0.96;
}

.extraBtn {
    display:flex;
    gap:16px;
}

.extraBtn button{
    height:56px;
    width:50%;
}

.solidBorder{
    background:#E6556E;
    border:none;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    color:white;
}

}
@media (400px <= width <=779px) {
    .Section{
        width: 100%;
        height:auto;
        display:flex;
        padding-top:20px ;
        padding-bottom:100px ;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width:100%;
        gap:16px;
    }

      
.view {
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
    border:1px solid black;
}

 
.imagesContainer{
    display:flex;
    gap:0px;
    align-items: start;
    width:100%;
}

.mainImage{
    flex:unset;
    width: 100%;
    height:450px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    object-fit: fill;
}

.SubImages{
    display: none; 
}

/* content */

.detailContainer{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width:100%;
    gap:25px;
}

.content{
    width: 100%;
    display: flex;
}

.content_details{
    display:flex;
    flex-direction:column;
    gap:0px;
    align-items: start;
}

.optionContainer{
    width:100%;
}
  

#options {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

#options label {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4.516px;
    padding: 4px;
font-size: 16px;
font-weight: 400;
color:#3B3A3A;

}
#options img{
    height:20px;
    width:20px;
}
.price {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:16px;
    width:80%;

}


.price h1{
    font-size: 28px;
    font-weight: 600;
    color:#000000;
    }
    
    .price button{
        background: linear-gradient(0deg, #E6556E, #E6556E),linear-gradient(0deg, #FFFFFF, #FFFFFF);
        height:40px;
        width:150px;
        border:none;
        padding:4px 10px;
        color:white;
        border-radius:10px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        cursor:pointer;
        transition:0.6s;
        -webkit-transition:0.6s;
        -moz-transition:0.6s;
        -ms-transition:0.6s;
        -o-transition:0.6s;
    }
    

.facilities{
    display:flex;
    align-items:center;
    gap:16px;
    padding-bottom: 5px;
}
.facilities span{
font-size: 18px;
font-weight: 500;
text-align: left;
}

.facilities span img{
    height:22px;
    width:22px;
}

.info{
    display: flex;
    flex-direction: column;
    gap:0px;
    padding-bottom:20px;
}


.info p:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    color:black;
    }
    .info p:nth-child(2){
    color:#434343;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        
    }
    .info p:nth-child(3){
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#4A4A4A;
    width:100%;
    }

.feature {
    font-size: 16px;
font-weight: 400;
color:#4A4A4A;
}

.keyFeatures{
font-size: 16px;
font-weight: 700;
color: #4A4A4A;

}

.feature ul{
    padding-left:30px;
}

.extraInfo{
    display:flex;
    flex-direction: column;
    gap:16px;
    width: auto;
    align-items:start;
}
.readMore{
    border-bottom: 2px solid #001F6D ;
    width:auto;
color:#4A4A4A;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}

.listed{
font-size: 16px;
font-weight: 400;
color:#4A4A4A;
}

.company{
    width: 190.61px;
height: 32.31px;
}
 

.buy{
    height: auto;
    display:flex;
    flex-direction:column;
    gap: 25px;
    align-items:center;
    width: 100%;
}

.agent{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.mortgage{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.mortgage h4{
    font-size: 18px;
    font-weight: 600;
    color:#141212;
}
.mortgage p{
font-size: 16px;
font-weight: 400;
color:#626161;
width:100%;

}

.mortgage a{ 
    width:100%;
    text-align:center;
    padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.mortgage a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}


.conveyancer{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:10px;
}

.conveyancer h4{
    font-size: 18px;
    font-weight: 600;
    color:#141212;
}
.conveyancer p{
font-size: 16px;
font-weight: 400;
color:#626161;
width:100%;

}

.conveyancer a{ 
    width:100%;
    text-align:center;
    padding: 16px 32px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px;
    background-color:#E9E9E9;
    color:black;
    text-decoration:none;
    transition:0.4s ease;
}

.conveyancer a:hover{
    scale:0.96;
    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -ms-transition:0.4s ease;
    -o-transition:0.4s ease;
}

.content_contact{
    width: 95%;
    height:auto;
    padding:30px 0;
    display:flex;
    flex-direction:column;
   border-radius:16px;
    align-items:center;
    gap:20px;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692)
}

.contentContactBtnCon{
    width:85%;
    display: flex;
    flex-direction:column;
    gap:25px;
}
.transparentBorder{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #141212;
    color:#141212;
    font-size: 16px;
    font-weight: 500;
    background:transparent;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}
.content_contact button{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
}

.content_contact button:hover{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    scale:0.96;
}

.extraBtn {
    display:flex;
    gap:16px;
}

.extraBtn button{
    height:56px;
    width:50%;
}

.solidBorder{
    background:#E6556E;
    border:none;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 56px;
    gap:8px;
    border-radius: 10px;
    color:white;
}


}

@media (780px <= width <= 960px) {
    .Section{
        width: 100%;
        height:auto;
        display:flex;
        padding-top:20px ;
        padding-bottom:50px ;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        gap:20px;
    }
    .imagesContainer{
        display:flex;
        gap:20px;
        align-items: center;
        padding:0 5px;
    }
    
    
.mainImage{
    flex:2;
    width: 50%;
    height: 404px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    object-fit: fill;
}

.SubImages{
    flex:1;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.SubImages img{
    width: 100%;
    height: 190px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.detailContainer{
    display: flex;
    justify-content:space-between;
    width:100%;
    gap:25px;
}

.content{
    width: 70%;
    display: flex;
}

#options {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 36px;

}

#options label {
font-size: 24px;
}

.price button{
    font-size: 20px;
}

.info p:nth-child(1){
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
    }
    .info p:nth-child(2){
    color:#434343;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    .info p:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#4A4A4A;
    width:95%;
    }
    
.feature {
    font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#4A4A4A;
}

.buy{
    width:70%;
    height: auto;
    display:flex;
    flex-direction:column;
    gap: 25px;
    align-items:center;
}
.mortgage{
    width:85%;
}
    
.conveyancer{
    width:85%;
}
}