.section{
    width: 100%;
    height:auto;
    background: #F4F7FF;
    display: flex;
    justify-content: center;
    margin: 60px 0;
    overflow:clip;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.TextContainer{
    display: grid;
    place-items: center;
    gap:20px;
}

.TextContainer p:nth-child(1){
font-size: 32px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color:#010B25;
margin:0;
}

.TextContainer p:nth-child(2){
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
width: 55%;
margin:0;
}

.grid{
    display: grid;
    grid-template-columns:repeat(5, minmax(min(180px, 100%), 1fr));
    gap: 20px;
    padding:30px 0;
}
.box{
    width: 190px;
    height: 125px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.box p{
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color:#000000;
width: 80%;
margin:0;
}
@media ( width <= 400px) {
    .section{
        width: 100%;
        height:auto;
        background: #F4F7FF;
        display: flex;
        justify-content: center;
        margin: 60px 0;
    }
    
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    
    .TextContainer{
        display: grid;
        place-items: center;
    }
    
    .TextContainer p:nth-child(1){
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color:#010B25;
    }
    
    .TextContainer p:nth-child(2){
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    }
    
    .grid{
        display: grid;
        grid-template-columns:repeat(2, minmax(min(160px, 100%), 1fr));
        gap: 10px;
        padding:30px 0;
        place-content:center;
        
    }
    .box{
        width: 145px;
        height: 100px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    
    .box p{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
    width: 80%;
    }
}
@media (400px <= width <=779px) {
    .section{
        width: 100%;
        height:auto;
        background: #F4F7FF;
        display: flex;
        justify-content: center;
        margin: 60px 0;
    }
    
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    
    .TextContainer{
        display: grid;
        place-items: center;
    }
    
    .TextContainer p:nth-child(1){
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color:#010B25;
    }
    
    .TextContainer p:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    }
    
    .grid{
        display: grid;
        grid-template-columns:repeat(2, minmax(min(160px, 100%), 1fr));
        gap: 10px;
        padding:30px 0;
        place-content:center;
        
    }
    .box{
        width: 160px;
        height: 100px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    
    .box p{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
    width: 80%;
    }
}
@media (780px <= width <= 960px) {
    .section{
        width: 100%;
        height:auto;
        background: #F4F7FF;
        display: flex;
        justify-content: center;
        margin: 60px 0;
    }
    
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    
    .TextContainer{
        display: grid;
        place-items: center;
    }
    
    .TextContainer p:nth-child(1){
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color:#010B25;
    }
    
    .TextContainer p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 90%;
    }
    
    .grid{
        display: grid;
        grid-template-columns:repeat(3, minmax(min(180px, 100%), 1fr));
        gap: 20px;
        padding:30px 0;
        place-content:center;
        
    }
    .box{
        width: 190px;
        height: 125px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    
    .box p{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
    width: 80%;
    }
}