.Section{
    height: auto;
    width:100%;
    padding-bottom: 50px;
    overflow: hidden;
  
}
.sellComponents{
  display:flex;
  flex-direction:column;
  gap:50px;
  width:100%;
}


.container{
    height: 50dvh;
    width: 100%;
    background:url("../../../public/sell/home.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:start;

}

.containerText{
  color:white;
  display:flex;
  flex-direction:column;
  gap:8px;
  padding-left:8%;
}

.containerText h2{
font-size: 40px;
font-weight: 600;
width:60%;
}

.containerText p{
font-size: 16px;
font-weight: 500;
width:50%;
}


  @media ( width <= 400px) {
    .container{
        height: 50dvh;
        width: 100%;
        background: url("../../../public/sell/home.png");
      background-repeat: no-repeat;
      background-position: center;
      object-fit: cover;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content:center;
      overflow: hidden;
    }

    .containerText{
      color:white;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      gap:16px;
      padding-left:8%;
      background: #1A1A1A66;
      width:90%;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -ms-border-radius:10px;
      -o-border-radius:10px;
      padding:15px 15px;
}
    
    .containerText h2{
    font-size: 25px;
    font-weight: 600;
    width:100%;
    }
    
    .containerText p{
    font-size: 16px;
    font-weight: 500;
    width:95%;
    }
    
  }

  @media (400px <= width <=779px) {
    .container{
      height: 50dvh;
      width: 100%;
      background: url("../../../public/sell/home.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
  }
    .containerText{
      color:white;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      gap:16px;
      padding-left:8%;
      background: #1A1A1A66;
      width:90%;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -ms-border-radius:10px;
      -o-border-radius:10px;
      padding:15px 15px;
}
    
    .containerText h2{
    font-size: 28px;
    font-weight: 600;
    width:85%;
    }
    
    .containerText p{
    font-size: 16px;
    font-weight: 500;
    width:85%;
    }
   
  }

  @media (780px <= width <= 960px) {
  
  .container{
    height: 35dvh;
    width: 100%;
    background:url("../../../public/sell/home.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:start;
}

.containerText h2{
  font-size: 30px;
  font-weight: 600;
  width:60%;
  }
  
  .containerText p{
  font-size: 18px;
  font-weight: 500;
  width:60%;
  }

  }