.Section{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:32px;
}

.mapContainer{
    width:100%;
    height:50vh;
    padding-bottom:20px;
}

.mapContainer img{
    width:100%;
}

.Container{
    height:100%;
    width:90%;
    padding:30px 0;
    display:flex;
    flex-direction:column;
    gap:24px;
}

.infoContainer{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px 0;
}

.address{
font-size: 24px;
font-weight: 600;
color:black;
}



.accurateLocation{
    display:flex;
    gap:24px;
    align-items:center;
}

.accurateLocation p{
font-size: 16px;
font-weight: 500;
color:black;
}

.buttonContainer{
    display:flex;
    gap:16px;
}

.buttonContainer button{
    cursor:pointer;
    transition:0.3s ease-in;
}
.buttonContainer button:hover{
    scale:0.95;
    transition:0.3s ease-out;
}

.buttonContainer button{
    width: 272px;
    height:56px;
    padding: 16px 0px;
    font-size: 16px;
font-weight: 600;
border-radius: 8px;
}

.buttonContainer button:nth-child(1){
border:none;
background: #F30029;
color:white;

}
.buttonContainer button:nth-child(2){
    border:1px solid #141212;
    background: transparent;
    color:black; 
}

.setPriceContainer{
    display:flex;
    flex-direction:column;
    gap:16px;
}
.setPriceHeader{
font-size: 24px;
font-weight: 600;
}

.setPriceIinputContainer{
    display:flex;
    align-items: end;
    gap:16px;
}

.setPriceIinputContainer label{
    display:flex;
    flex-direction:column;
    gap:8px;
font-size: 16px;
font-weight: 500;
color: #141212;
}


.setPriceIinputContainer label input , .setPriceIinputContainer label select{
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    width: 300px;
height: 52px;
padding: 14px;
gap: 0px;
border-radius: 8px;
font-size: 16px;
font-weight: 400;
color: #494949;


}


.saveContainer{
display:flex;
gap:8px;
}

.saveContainer button{
    cursor:pointer;
    transition:0.3s ease-in;
}
.saveContainer button:hover{
    scale:0.95;
    transition:0.3s ease-out;
}

.saveContainer button{
    width: 200px;
    height:56px;
    padding: 16px 0px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.saveContainer button:nth-child(1){
   
 
    border:1px solid #14121237;
    background: rgba(128, 128, 128, 0.39);
    color:rgb(102, 100, 100); 
}
.saveContainer button:nth-child(2){
    border:none;
    background: #F30029;
    color:white;

      
}

@media ( width <=400px) {
    
.mapContainer{
    width:100%;
    height:30vh;
    padding-bottom:0px;
}

.mapContainer img{
    width:100%;
    height:100%;
}

    
    .accurateLocation{
        display:flex;
        gap:24px;
        align-items:start;
        flex-direction:column;
    }

    
.buttonContainer{
    display:flex;
    width:100%;
    gap:16px;
}
.buttonContainer button{
    width: 272px;
    height:56px;
    padding: 5px 10px;
    font-size: 14px;
}
    .setPriceIinputContainer{
        align-items:start;
        flex-direction:column;
        width:100%;
    }

    
.saveContainer{
    display:flex;
    gap:8px;
    width:100%;
    }

    .saveContainer button{
        width: 100%;
        height:56px;
        padding: 16px 0px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
    }


}
@media (400px <= width <=779px) {
     
.mapContainer{
    width:100%;
    height:30vh;
    padding-bottom:0px;
}

.mapContainer img{
    width:100%;
    height:100%;
}

    
    .accurateLocation{
        display:flex;
        gap:24px;
        align-items:start;
        flex-direction:column;
    }

    
.buttonContainer{
    display:flex;
    width:100%;
    gap:16px;
}
.buttonContainer button{
    width: 272px;
    height:56px;
    padding: 5px 10px;
    font-size: 14px;
}
    .setPriceIinputContainer{
        align-items:start;
        flex-direction:column;
        width:100%;
    }

    
.saveContainer{
    display:flex;
    gap:8px;
    width:100%;
    }

    .saveContainer button{
        width: 100%;
        height:56px;
        padding: 16px 0px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (780px <= width <= 960px) {
    .mapContainer{
        width:100%;
        height:20vh;
        padding-bottom:0px;
    }
    .setPriceIinputContainer{
        align-items:start;
        flex-direction:column;
        width:100%;
        gap:16px;
    }
    .setPriceIinputContainer label{
        display:flex;
        flex-direction:column;
        gap:8px;
    font-size: 16px;
    font-weight: 500;
    color: #141212;
    width:100%;
    }
    
    
    .setPriceIinputContainer label input , .setPriceIinputContainer label select{
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px 0px #1018280D;
        width: 100%;
    height: 52px;
    padding: 14px;
    gap: 0px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    
    
    }
    

}