.Container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:85dvh;
    justify-content: center;
}

.Container h1{
    font-size: 72px;
}


.Container p{
    font-size: 22px;
    color:#666666;
}
.Container a{
    text-decoration: dashed;
    color:rgb(0, 0, 0);
    font-size: 20px;
    border-bottom: 2px solid purple;
}


@media ( width <=400px) {
    .Container h1{
        font-size: 32px;
        text-align:center;

    }
    
  
.Container p{
    font-size: 16px;
    color:#666666;
    text-align:center;

}
.Container a{
    text-decoration: dashed;
    color:rgb(0, 0, 0);
    font-size: 15px;
    border-bottom: 2px solid purple;
}

}
@media (400px <= width <=779px) {
    .Container h1{
        font-size: 52px;
    }
    
  
.Container p{
    font-size: 18px;
    color:#666666;
    text-align:center;
}
.Container a{
    text-decoration: dashed;
    color:rgb(0, 0, 0);
    font-size: 20px;
    border-bottom: 2px solid purple;
}

}

