.suggestionBox{
   background:white;
   position:absolute;
   top:13.5%;
   display:flex;
   flex-direction:column;
   gap:8px;
   border:1px solid grey;
    padding:15px 25px;
    border-radius:8px;

}

.suggestionList{
    list-style:none;
    cursor:pointer;
    font-size:16px;
    color:black;
    border-bottom:1px solid #F6F5F2;
    padding:5px 0;
}

.suggestionList:hover{
    background:#F6F5F2;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0px 10px;
    color: #2c3a61;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .inputContainer input{
      width: 100%;
      height: 85%;
      border: none;
      outline: none;
      font-size: 16px;
  }
  

  @media ( width <=400px) {
    .suggestionBox{
        width: 80%;
        top:6%;
        z-index:2;
       }
    
  }
  @media (400px <= width <=779px) {
    .suggestionBox{
      width: 75%;
      top:6.8%;
      z-index:2;
     }
  }
  
  @media (780px <= width <= 1200px) {
    .suggestionBox{
        width: 70%;
        top:8.5%;
        z-index:2;
       }
  }