.Section *{
    margin:0;
    padding:0;
}

.Section{
    height:auto;
    width:100%;
    display:flex;
    justify-content:center; 
    padding:50px 0;
}
.container{
    width:90%;
    height:auto;
    display: flex;
    flex-direction:column;
    gap:32px;
}

.Header p{
font-size: 36px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color:#010B25;
}

.SubHeader{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
}
.SubHeader p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#141212;

}

.SubHeader button{
    display:flex;
    gap:8px;
    align-items:center;
    padding:16px 32px;
    border-radius:8px;
    border:none;
    background: #F8CCD3;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#DA0025;
transition: 0.3s ;
-webkit-transition: 0.3s ;
-moz-transition: 0.3s ;
-ms-transition: 0.3s ;
-o-transition: 0.3s ;
cursor:pointer;
}

.SubHeader button:hover{
    scale:0.93;
    transition: 0.3s ;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s ;
}

.BoxContainer{
    display:flex;
    gap:4%;
    width: 100%;
}

.Box{
    width:270px;
    height: 300px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 4px 20px 0px #9593932f;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    padding:0px 15px;
    gap:12px;
    transition: 0.5s ;
    -webkit-transition: 0.5s ;
    -moz-transition: 0.5s ;
    -ms-transition: 0.5s ;
    -o-transition: 0.5s ;
    cursor:pointer;
    transition-delay: 0.3s;
}

.Box:hover{
    box-shadow: 0px 4px 20px 0px #9593932f;
    scale: 0.95;
    transition: 0.3s ;
    -webkit-transition: 0.5s ;
    -moz-transition: 0.3s ;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s ;
}

.BoxImg{
    width: 243px;
    height: 174px;
    border-radius: 16px;
    overflow:clip;
    object-fit: cover;
}

.BoxImg img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.BoxInfo{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:8px;   
}
.PriceCon{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
}
.PriceCon p{
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}

.Icon{
width: 32px;
height: 32px;
border:none;
background-color: transparent;
}

.Icon img{
    width:100%;
    height:100%;
}
.name{
    color:black;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;   
}

.location{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color:#626161;
}


@media ( width <=400px) {
    .Header p{
        font-size: 24px;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#010B25;
        }
        
        .SubHeader{
            display:flex;
            width:100%;
            justify-content:space-between;
            align-items:center;
        }
        .SubHeader p{
        font-size: 16px;
        font-weight: unset;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#141212;
        
        }
        
        .SubHeader button{
            display:flex;
            gap:8px;
            align-items:center;
            padding:10px 10px;
            border-radius:8px;
            min-width:fit-content;
            border:none;
            background: #F8CCD3;
        font-size: 14px;
        font-weight: 600;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#DA0025;
        cursor:pointer;
        }

        
.BoxContainer{
    display:flex;
    gap:4%;
    width: 100%;
    overflow:scroll;
    /* ::-webkit-scrollbar{ */
        /* display: none; */
    /* } */
/*  */
    /* ::-webkit-scrollbar-track { */
        /* display: none; */
    /* } */
}




}
@media (400px <= width <=779px) {
    .Header p{
        font-size: 26px;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#010B25;
        }
        
        .SubHeader{
            display:flex;
            width:100%;
            justify-content:space-between;
            align-items:center;
        }
        .SubHeader p{
        font-size: 16px;
        font-weight: unset;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#141212;
        
        }
        
        .SubHeader button{
            display:flex;
            gap:8px;
            align-items:center;
            padding:10px 10px;
            border-radius:8px;
            min-width:fit-content;
            border:none;
            background: #F8CCD3;
        font-size: 14px;
        font-weight: 600;
        line-height: unset;
        letter-spacing: unset;
        text-align: unset;
        color:#DA0025;
        cursor:pointer;
        }
    .BoxContainer{
        display:flex;
        gap:4%;
        width: 100%;
        overflow:scroll;
        /* ::-webkit-scrollbar{ */
            /* display: none; */
        /* } */
    /*  */
        /* ::-webkit-scrollbar-track { */
            /* display: none; */
        /* } */
    }
    
}

@media (780px <= width <= 960px) {
    .BoxContainer{
        display:flex;
        gap:4%;
        width: 100%;
        overflow:scroll;
        /* ::-webkit-scrollbar{ */
            /* display: none; */
        /* } */
    /*  */
        /* ::-webkit-scrollbar-track { */
            /* display: none; */
        /* } */
    }
    
}