.container * {
    font-family: "Poppins";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-family: "Poppins";
    position: fixed;
    width: 100%;
    height: 90%;
    top: 0px;
    padding-top: 65px;
    z-index: 5;
    background: rgba(202, 204, 204, 0.7)
}

.inner_container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 86%;
    padding: 20px 20px 0 20px;
    border-radius: 16px;
    gap: 16px;
    overflow-y: auto;
    font-size: 15px;
    /* margin-bottom: 55px; */
}

.inner_container h4, .inner_container h2 {
    margin: 0;
}

.inner_container hr {
    width: 100%;
}

.inner_container input[type="checkbox"] {
    /* Add if not using autoprefixer */
  /* -webkit-appearance: none; */
  /* appearance: none; */
  /* For iOS < 15 to remove gradient background */
  /* background-color: #fff; */
  /* Not removed via appearance */
  /* margin: 0; */
}

.inner_container select {
    color: #667085;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px;

    margin-top: 0;
    gap: 30px;

    font-size: 15px;
    
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background-color: var(--white, #FFF);

    /* Shadow/xs */
    /* box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); */
}


.header{
    display: flex;
    justify-content: space-between;
}

.header button {
    background: transparent;
    border: none;
}

#search_radius {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#view_type {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* width: ; */
    
}

#view_type > div > div  > label {
    /* position: absolute; */
    top: 180px;
    left: 35px;
    color: #667085;
    background-color: transparent;
}

#view_type > div:first-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    gap: 8px;
    
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: var(--white, #FFF);
    

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#view_type div > div {
    display: flex;
    align-items: center;
    /* justify-content: ; */
    gap: 8px;
    position: relative;
    padding: 5px 10px;
    right: 10px;
    /* border: 1px solid #D0D5DD; */
    width: 91%;
    height: 100%;
}

#view_type div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

#view_type label {
    display: flex;
    align-items: center;
    
}

#view_type img {
    /* position: absolute; */
    left: 86%;
}

#view_type div span {
    display: flex;
    font-size: 13.5px; 
    padding: 6px 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #F5F8FF;
}




#bedroom, #price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#bedroom div, #price div {
    display: flex;
    gap: 15px;
}

#bedroom select, #price select {
    width: 50%;
}

.one_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.one_column div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.two_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.two_column div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.two_column label {
    display: flex;
    align-items: center;
}

/* .two_column input {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid currentColor;
    border-radius: 4px;
    transform: translateY(-0.075em);
} */

.inner_container section:nth-of-type(11) {
    /* margin-bottom: 30px; */
}

.btns {
    display: flex;
    justify-content: center;
    gap: 22px;
    position: sticky;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 15px 0;
    background: #FFF;
}

.btns button {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 20px;
    border-radius: 8px;
}

.btns button:first-of-type {
    background: #FFF;
}

.btns button:last-of-type {
    border: none;
    background: #EFEFEF;
}

