.Section *{
    margin:0;
    padding:0;
}

.Section{
    height:auto;
    width:100%;
    display:flex;
    justify-content:center; 
    padding:50px 0;
}
.container{
    width:90%;
    height:auto;
    background: #F4F7FF;
    display:flex;
    gap:80px;
    padding: 20px 30px;
    border-radius:24px;
}

.imgGridContainer{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 16px;
grid-row-gap: 16px;
height:350px;
margin:0;
width:50%;
 /* border:1px solid purple; */
}

.imgone{
    grid-area: 1 / 1 / 2 / 2;
    width: 221.27px;
height: 115.43px;
border-radius: 16px;
}
.imgtwo{
    grid-area: 2 / 1 / 3 / 2;
    width: 221.27px;
height: 204.42px;
border-radius: 16px;
}
.imgthree{
    grid-area: 1 / 2 / 3 / 3;
    width: 225.2px;
height: 100%;
border-radius: 16px;
}

.InfoContainer{
    display:flex;
    flex-direction:column;
    height:auto;
    gap:32px;
}

.Header{
    width:50%;
}

.Header p{
color:#010B25;
font-size: 36px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
}

.TextWrapper{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.TextContainer{
    display:flex;
    gap:16px;
    align-items:start;
}

.icon{
    width: 40px;
height: 40px;
}
.Text{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.Text p:nth-child(1){
font-size: 20px;
font-weight: 500;
line-height: unset;
letter-spacing: unset;
text-align: unset;
color:#141212;
}
.Text p:nth-child(2){
font-size: 16px;
font-weight: 400;
line-height: unset;
letter-spacing: unset;
text-align: unset;

}


@media ( width <=400px) {
    .container{
        display:flex;
        flex-direction: column-reverse;
        gap:50px;
        width:95%;
    }

    .Header{
        width:90%;
    }
    
    .Header p{
    color:#010B25;
    font-size: 24px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
    }

    .Text p:nth-child(1){
        font-size: 16px;
        font-weight: 500;
        color:#141212;
        }
        .Text p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
        }

        .icon{
            width: 30px;
        height: 30px;
        }

        .imgGridContainer{
            display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        height:330px;
        margin:0;
        width:100%;
         
        }
        
        .imgone{
            grid-area: 1 / 1 / 2 / 2;
            width: 130.27px;
        height: 80.43px;
        border-radius: 16px;
        }
        .imgtwo{
            grid-area: 2 / 1 / 3 / 2;
            width: 130.27px;
        height: 204.42px;
        border-radius: 16px;
        }
        .imgthree{
            grid-area: 1 / 2 / 3 / 3;
            width: 150.2px;
        height: 100%;
        border-radius: 16px;
        }

}
@media (400px <= width <=779px) {
    .container{
        display:flex;
        flex-direction: column-reverse;
        gap:50px;
        width:90%;
    }

    .Header{
        width:90%;
    }
    
    .Header p{
    color:#010B25;
    font-size: 24px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
    }

    .Text p:nth-child(1){
        font-size: 16px;
        font-weight: 500;
        color:#141212;
        }
        .Text p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
        }

        .icon{
            width: 30px;
        height: 30px;
        }

        .imgGridContainer{
            display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        height:330px;
        margin:0;
        width:100%;
         
        }
        
        .imgone{
            grid-area: 1 / 1 / 2 / 2;
            width: 130.27px;
        height: 80.43px;
        border-radius: 16px;
        }
        .imgtwo{
            grid-area: 2 / 1 / 3 / 2;
            width: 130.27px;
        height: 204.42px;
        border-radius: 16px;
        }
        .imgthree{
            grid-area: 1 / 2 / 3 / 3;
            width: 170.2px;
        height: 100%;
        border-radius: 16px;
        }
}

@media (780px <= width <= 960px) {
    .container{
        display:flex;
        flex-direction: column-reverse;
        gap:50px;
        width:72%;
    }

    .Header{
        width:60%;
    }
    
    .Header p{
    color:#010B25;
    font-size: 28px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
    }

    

.imgGridContainer{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 16px;
grid-row-gap: 16px;
height:350px;
margin:0;
width:50%;
}

.imgone{
    grid-area: 1 / 1 / 2 / 2;
    width: 221.27px;
height: 115.43px;
border-radius: 16px;
}
.imgtwo{
    grid-area: 2 / 1 / 3 / 2;
    width: 221.27px;
height: 204.42px;
border-radius: 16px;
}
.imgthree{
    grid-area: 1 / 2 / 3 / 3;
    width: 285.2px;
height: 100%;
border-radius: 16px;
}

}