.container * {
  font-family: "Poppins";
  margin: 0;
}

.Section {
  display: grid;
  place-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0%;
  left: 0;
  background-color: rgba(138, 138, 138, 0.322);
}

.container {
  box-shadow: 0px 0px 20px 0px gray;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  justify-content: center;
  width: 75%;
  align-items: center;
  height: auto;
  padding: 10px 0;
  background-color: white;
}

.inner_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header button {
  padding: 5px 14px;
  border: none;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  transition: 0.4s;
}

.header button:hover {
  scale: 0.85;
  transition: 0.4s;
}

.header_two {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.header_two h2 {
  display: none;
}

.header_two button {
  padding: 5px 14px;
  border: none;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  transition: 0.4s;
}
.offer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 16px;
}

.offerContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.price {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #3b3a3a;
}
.offerContainer hr {
  height: 48px;
}

.facilities {
  display: flex;
  gap: 27px;
  align-items: center;
}
.facilities span {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #4a4a4a;
}

.facilities span img {
  width: 24px;
  height: 24px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.desc h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3b3a3a;
}

.desc p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #434343;
}

.formInfoContainer {
  display: flex;
  align-items: start;
  gap: 32px;
}

.formOne {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.formInfo label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #141212;
}
.formInfo input[type="text"] {
  width: 100%;
  height: 42px;
  border: 1px solid #d0d5dd;
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 0.5px solid #d0d5dd;
  width: 50%;
  height: 42px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 14px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.radio:hover {
  scale: 0.95;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.euroContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 42px;
  border: 1px solid #d0d5dd;
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.euroContainer:focus-within {
  border: 2px solid black;
}

.euroContainer input {
  width: 100%;
  height: 38px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
}

.euroContainer p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.formInfo select {
  width: 100%;
  height: 42px;

  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}

.formInfo select option {
  cursor: pointer;
}

.formTwo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btns button:nth-child(1) {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  color: #3b3a3a;
}
.btns button:nth-child(2) {
  background-color: #efefef;
  padding: 10px 24px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  color: #3b3a3a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.success h2,
.success p {
  margin: 0;
}

.SuccessButtonContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.SuccessButtonContainer button {
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  background: #efefef;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
.SuccessButtonContainer button:hover {
  scale: 0.9;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.success button:last-of-type {
  color: #fff;
  background: var(--Brand-red, #da0025);
}

@media (width <=400px) {
  .Section {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0%;
    left: 0%;
    background-color: rgba(138, 138, 138, 0.322);
  }

  .container {
    box-shadow: 0px 0px 20px 0px gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: start;
    height: 85%;
    background-color: white;
    overflow: scroll;
    padding: 10px 2px;
  }

  .inner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0px;
    width: 90%;
    padding: 15px 0;
  }
  .formInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header h2 {
    font-size: 20px;
  }

  .header button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    transition: 0.4s;
  }

  .header button:hover {
    scale: 0.85;
    transition: 0.4s;
  }

  .header_two {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .header_two h2 {
    display: none;
  }

  .header_two button {
    padding: 5px 14px;
    border: none;
    border-radius: 8px;
    background: transparent;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    transition: 0.4s;
  }
  .offer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 12px;
  }

  .offerContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }

  .offerContainer hr {
    display: none;
    transform: rotateX(180deg);
    width: 100%;
    height: 1px;
    border: 1px solid gray;
  }

  .price {
    font-size: 24px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
    color: #3b3a3a;
  }

  .facilities {
    display: flex;
    gap: 27px;
    align-items: center;
  }
  .facilities span {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: unset;
    letter-spacing: 0em;
    text-align: unset;
    color: #4a4a4a;
  }

  .facilities span img {
    width: 24px;
    height: 24px;
  }
  .formOne {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .desc h4 {
    font-size: 18px;
    font-weight: 600;
    color: #3b3a3a;
  }

  .desc p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #434343;
  }

  .formTwo {
    flex: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .SuccessButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .SuccessButtonContainer button {
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    background: #efefef;
  }

  .btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }
}
@media (400px <= width <=779px) {
  .Section {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0%;
    left: 0%;
    background-color: rgba(138, 138, 138, 0.322);
  }

  .container {
    box-shadow: 0px 0px 20px 0px gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: start;
    height: 85%;
    background-color: white;
    overflow: scroll;
    padding: 10px 2px;
  }

  .inner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0px;
    width: 90%;
    padding: 15px 0;
  }
  .formInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header h2 {
    font-size: 20px;
  }

  .header button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    transition: 0.4s;
  }

  .header button:hover {
    scale: 0.85;
    transition: 0.4s;
  }

  .header_two {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .header_two h2 {
    display: none;
  }

  .header_two button {
    padding: 5px 14px;
    border: none;
    border-radius: 8px;
    background: transparent;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    transition: 0.4s;
  }
  .offer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 12px;
  }

  .offerContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }

  .offerContainer hr {
    display: none;
    transform: rotateX(180deg);
    width: 100%;
    height: 1px;
    border: 1px solid gray;
  }

  .price {
    font-size: 24px;
    font-weight: 600;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
    color: #3b3a3a;
  }

  .facilities {
    display: flex;
    gap: 27px;
    align-items: center;
  }
  .facilities span {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: unset;
    letter-spacing: 0em;
    text-align: unset;
    color: #4a4a4a;
  }

  .facilities span img {
    width: 24px;
    height: 24px;
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .desc h4 {
    font-size: 18px;
    font-weight: 600;
    color: #3b3a3a;
  }

  .desc p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #434343;
  }

  .formOne {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .formTwo {
    flex: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .SuccessButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .SuccessButtonContainer button {
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    background: #efefef;
  }

  .btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }
}

@media (780px <= width <= 960px) {
  .container {
    box-shadow: 0px 0px 20px 0px gray;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
    justify-content: center;
    width: 95%;
    align-items: center;
    height: auto;
    background-color: white;
    padding: 10px 0;
  }

  .inner_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
  }
}
