.container * {
    font-family: "Poppins";
    margin:0;
}

.container{
    display:flex;
    width:100%;
    justify-content:space-between;
    background:white;
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692);
    padding : 20px 30px;
    border-radius:10px;
    overflow:clip;
}

.text{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.text h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    width:50%;
    color:black;
}

.text p{

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 60%;
}

.btnContainer{
    display:flex;
    gap:10px;
}

.btnContainer button{
    background:#F4F7FF;
    border:none;
    width:48px;
    height: 48px;
    display:grid;
    place-items:center;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    cursor:pointer;
    border-radius:5px;
}

.btnContainer button:hover{
    scale:0.90;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}
.property_list{
    display:flex;
    align-items:center;
    gap:30px;
}

.property h2{
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.desc{
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}


.location{
color:#626161;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}


@media ( width <=400px) {
    .Section{
        width:100%;
        display: flex;
        justify-content:center;
        overflow:hidden;
    }
    .container{
        display:flex;
        width:95%;
        flex-direction: column;
        justify-content:center;
        align-items:start;
        background:white;
        box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692);
        padding : 20px 20px;
        border-radius:10px;
        gap:8px;
    }
   
    .text{
        display:flex;
        flex-direction: row;
        gap:10px;
    }
    .text h2{
        font-size: 24px;
        font-weight: 600;
        line-height: unset;
        text-align: left;
        width:100%;
        color:black;
    }
    
    .text p{
    display:none;
    width:unset;
    }
    
        .btnContainer{
            display:none;
        }

        .property_list{
           overflow:scroll;
           width:100%;
           display:flex;
        }

        .btnContainer{
            display: none;
        }
        
}
@media (400px <= width <=779px) {
    .Section{
        width:100%;
        display: flex;
        justify-content:center;
        overflow:hidden;
    }
    .container{
        display:flex;
        width:95%;
        flex-direction: column;
        justify-content:center;
        align-items:start;
        background:white;
        box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692);
        padding : 20px 20px;
        border-radius:10px;
        gap:8px;
    }
   
    .text{
        display:flex;
        flex-direction: row;
        gap:10px;
    }
    .text h2{
        font-size: 24px;
        font-weight: 600;
        line-height: unset;
        text-align: left;
        width:100%;
        color:black;
    }
    
    .text p{
    display:none;
    width:unset;
    }
    
        .btnContainer{
            display:none;
        }

        .property_list{
           overflow:scroll;
           width:100%;
           display:flex;
        }

        .btnContainer{
            display: none;
        }
        
}

@media (780px <= width <= 960px) {
    .container{
        display:flex;
        width:98%;
        flex-direction: column;
        justify-content:space-between;
        background:white;
        box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 0.692);
        padding: 20px 30px;
        border-radius:10px;
        overflow:clip;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        gap:16px;
}
.btnContainer{
    display:none;
}

.text{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.text h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    width:50%;
    color:black;
}

.text p{
font-size: 16px;
font-weight: 400;
width:100%;
}

.property_list{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

.property{
    display: flex;
    flex-direction: column;
    gap:4px;
}
}