.Section{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    padding:20px 0;
    background:white;
    
}

.container{
    display: flex;
    flex-direction:column;
    width: 100%;
    height:100%;
    align-items:center;
    background-color: white;
    
}

.criteria_one{
    display:none;
    align-items:center;
    width: 100%;
  
}


.criteria_two{
    display: flex;
    align-items:center;
    gap:30px;
    background-color: #F5F8FF;
    width:100%;
    border-radius: 10px;
    justify-content: center;
    height:130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.criteria_twoCon{
    display:flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
    padding:0 20px;
    height: auto;
    gap:0px;
    overflow: hidden;
}

.criteria_two label{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: end;
}

.Areainput{
    width: 200px;
    height: 50px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.viewType{
    width: 200px;
    height: 50px;
    border: 1px solid #D0D5DD;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 0 10px;
border-radius:10px;
}

.Bed{
    display:flex;
    gap:10px;
}

.BedMinMax{
    width: 95px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}

.priceRange{
    display:flex;
    gap:10px;
}

.priceMinMax{
    width: 95px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}

.buttonContainer{
    display: flex;
    align-items:center;
    gap:10px;
}

.filterBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 110px;
    justify-content: center;
   background-color: white;
   border: 1px solid #3B3A3A;
   border-radius: 10px;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;

cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
}

.filterBtn:hover {
   background-color: black;
   color:white;
   fill:white;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
.search{
   display: flex;
   align-items: center;
   gap: 10px;
   height: 50px;
   width: 110px;
   justify-content: center;
   background-color: #DA0025;
   color:white;
   border:none;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;

}

.search:hover{
    background-color: #85091d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media (width <= 400px) {
    .Section{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
        padding:5px 0;
        background:white;
    }
    
    .criteria_two{
        display: none;
    }

   
    .container{
        display: flex;
        flex-direction:column;
        width: 100%;
        height:100%;
        align-items:center;
    
    }

    .criteria_one{
        display: flex;
        align-items: center;
        justify-content:center;
        gap:10px;
        width:92%;
        height:auto;
    }

    .criteriaOneInputCon{
        display: flex;
        align-items:center;
        border:1px solid #3B3A3A;
        width: 90%;
        height:50px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        padding: 0 10px;
}

    .criteriaOneInputCon input{
        height:96%;
        border:none;
        width:90%;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding:0 10px;
       
    }

    .criteriaOneInputCon input:focus{
outline:none;
    }
    .buttonContainer{
        display: flex;
        align-items:center;
        gap:10px;
    }
    
    .filterBtn{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;
        width: 65px;
        justify-content: center;
       background-color: white;
       border: 1px solid #3B3A3A;
       border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    }
    
    .filterBtn:hover {
       background-color: black;
       color:white;
       fill:white;
       transition: 0.3s;
       -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
       -ms-transition: 0.3s;
       -o-transition: 0.3s;
    }
    .search{
       display: none;
       align-items: center;
       gap: 10px;
       height: 50px;
       width: 80px;
       justify-content: center;
       background-color: #DA0025;
       color:white;
       border:none;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
    }
    
    .search:hover{
        background-color: #85091d;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}
@media (400px <= width <=779px) {

    .Section{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
        padding:5px 0;
        background:white;
        z-index: 2;
    }
    
    .criteria_two{
        display: none;
    }

  
    .container{
        display: flex;
        flex-direction:column;
        width: 100%;
        height:100%;
        align-items:center;
    padding:20px 0;
    z-index: 2;
    }

    .criteria_one{
        display: flex;
        align-items: center;
        justify-content:center;
        gap:10px;
        width:90%;
        height:auto;
    }

    .criteriaOneInputCon{
        display: flex;
        align-items:center;
        border:1px solid #3B3A3A;
        width: 90%;
        height:50px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        padding: 0 10px;
}

    .criteriaOneInputCon input{
        height:96%;
        border:none;
        width:90%;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding:0 10px;
       
    }

    .criteriaOneInputCon input:focus{
outline:none;
    }
    .buttonContainer{
        display: flex;
        align-items:center;
        gap:10px;
    }
    
    .filterBtn{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;
        width: 65px;
        justify-content: center;
       background-color: white;
       border: 1px solid #3B3A3A;
       border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    }
    
    .filterBtn:hover {
       background-color: black;
       color:white;
       fill:white;
       transition: 0.3s;
       -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
       -ms-transition: 0.3s;
       -o-transition: 0.3s;
    }
    .search{
       display: none;
       align-items: center;
       gap: 10px;
       height: 50px;
       width: 80px;
       justify-content: center;
       background-color: #DA0025;
       color:white;
       border:none;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
    }
    
    .search:hover{
        background-color: #85091d;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}



@media (780px <= width <= 960px) {
    .criteria_two{
        display: none;
    }

   
    .container{
        display: flex;
        flex-direction:column;
        width: 100%;
        height:100%;
        align-items:center;
    padding:20px 0;
    background-color: white;
    }

    .criteria_one{
        display: flex;
        align-items: center;
        justify-content:center;
        gap:40px;
        width:95%;
        height:auto;
    }

    .criteriaOneInputCon{
        display: flex;
        align-items:center;
        border:1px solid #3B3A3A;
        width: 80%;
        height:50px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        padding-left: 10px;
}

    .criteriaOneInputCon input{
        height:96%;
        border:none;
        width:90%;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding:0 10px;
       
    }

    .criteriaOneInputCon input:focus{
outline:none;
    }
    .buttonContainer{
        display: flex;
        align-items:center;
        gap:10px;
    }
    
    .filterBtn{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;
        width: 65px;
        justify-content: center;
       background-color: white;
       border: 1px solid #3B3A3A;
       border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    }
    
    .filterBtn:hover {
       background-color: black;
       color:white;
       fill:white;
       transition: 0.3s;
       -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
       -ms-transition: 0.3s;
       -o-transition: 0.3s;
    }
    .search{
       display: flex;
       align-items: center;
       gap: 10px;
       height: 50px;
       width: 110px;
       justify-content: center;
       background-color: #DA0025;
       color:white;
       border:none;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
    }
    
    .search:hover{
        background-color: #85091d;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    
}

@media (961px <= width <= 1240px){
    .Section{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
    }
 
    .Areainput{
    width: 160px;
    height: 50px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.viewType{
    width: 160px;
    height: 50px;
    border: 1px solid #D0D5DD;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 0 10px;
border-radius:10px;
}

.Bed{
    display:flex;
    gap:10px;
}

.BedMinMax{
    width: 75px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}

.priceRange{
    display:flex;
    gap:10px;
}

.priceMinMax{
    width: 75px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}


.filterBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 50px;
    justify-content: center;
   background-color: white;
   border: 1px solid #3B3A3A;
   border-radius: 10px;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
}

.filterBtn p{
    display:none;
}

.filterBtn:hover {
   background-color: black;
   color:white;
   fill:white;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
.search{
   display: flex;
   align-items: center;
   gap: 10px;
   height: 50px;
   width: 70px;
   justify-content: center;
   background-color: #DA0025;
   color:white;
   border:none;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;

}

.search:hover{
    background-color: #85091d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

}

@media (1241px <= width <= 1400px){
    .Section{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
   
    }

.Areainput{
    width: 190px;
    height: 50px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.viewType{
    width: 160px;
    height: 50px;
    border: 1px solid #D0D5DD;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 0 10px;
border-radius:10px;
}

.Bed{
    display:flex;
    gap:10px;
}

.BedMinMax{
    width: 95px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}

.priceRange{
    display:flex;
    gap:10px;
}

.priceMinMax{
    width: 95px;
    height: 50px;
    padding:0 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 10px;
    border-radius:10px;
}


.filterBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 50px;
    justify-content: center;
   background-color: white;
   border: 1px solid #3B3A3A;
   border-radius: 10px;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
}

.filterBtn p{
    display:none;
}

.filterBtn:hover {
   background-color: black;
   color:white;
   fill:white;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
.search{
   display: flex;
   align-items: center;
   gap: 10px;
   height: 50px;
   width: 70px;
   justify-content: center;
   background-color: #DA0025;
   color:white;
   border:none;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
cursor: pointer;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;

}

.search:hover{
    background-color: #85091d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

}
