.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 65%;
  height: 50px;
  padding: 0px 10px;
  color: #2c3a61;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 8px;
  background: #f4f7ff;
}

.inputContainer input{
    width: 100%;
    height: 85%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent
    ;
}


.SelectContainer {
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  width: 23%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.SelectContainer select{
    height: 95%;
    width: 95%;
    border: none;
    outline: none;
    font-size: 16px;
}

.SelectContainer select option{
    font-size: 16px;
}
.searchButton {
  height: 50px;
  width: 7%;
  min-width: fit-content;
  padding: 0 10px;
  background-color: #da0025;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchButton:hover{
    background-color: #99041d;
    cursor: pointer;
    transition: ease 0.4s;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
}



@media ( width <= 400px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 15px;
        width: 100%;
      }

      .inputContainer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 52px;
        padding: 0px 10px;
        color: #2c3a61;
        text-decoration: none;
        border: solid 1px #000000;
        border-radius: 8px;
      }

      .inputContainer input{
        width: 100%;
        height: 95%;
        border: none;
        outline: none;
        font-size: 16px;
    }
    
      
.SelectContainer {
    border: solid 1px #000000;
    border-radius: 8px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
  }

  .SelectContainer select{
    height: 95%;
    width: 95%;
    border: none;
    outline: none;
    font-size: 16px;
}

  .SelectContainer select option{
    font-size: 16px;
}
  
  .searchButton {
    height: 52px;
    width: 100%;
    background-color: #da0025;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media (400px <= width <=779px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 15px;
        width: 100%;
      }

      .inputContainer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 52px;
        padding: 0px 10px;
        color: #2c3a61;
        text-decoration: none;
        border: solid 1px #000000;
        border-radius: 8px;
      }

      
.SelectContainer {
    border: solid 1px #000000;
    border-radius: 8px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
  }
  
  .searchButton {
    height: 52px;
    width: 100%;
    background-color: #da0025;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
      
}

@media (780px <= width <= 960px) {
    .inputContainer {
        display: flex;
        align-items: center;
        width: 45%;
        height: 50px;
        padding: 0px 10px;
        color: #2c3a61;
        text-decoration: none;
        border: solid 1px #000000;
        border-radius: 8px;
      }

      
.SelectContainer {
    border: solid 1px #000000;
    border-radius: 8px;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  .searchButton {
    height: 50px;
    width: 15%;
    background-color: #da0025;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

}