.Section{
    height: auto;
    width: 100%;
   display: flex;
   justify-content: center;
   padding: 70px 0;
}

.container{
    display: flex;
    width: 90%;
    justify-content: center;
    
    gap: 30px;
    position: relative;
    padding: 40px 0;
    align-items: center;
}

.left{
    flex: 1;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.MainImageContainer{
    flex: 1;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.leftImage{
    width: 530px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.ToprightBottom{
    display: none;
}
.ImageComp{
    position: absolute;
    bottom: -20%;
    right: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 0 20px 0px gray;
   gap:10px;
}

.ImageComp p{
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
color: #0D263B;
display: grid;
place-self: start;
margin:0;
}
.stars{
    height: 20px;
    width: 100px;
    display: grid;
    place-self: start;
}


.propInput{
    width: 100%;
    border: 1px solid #0035BA;
    background-color: #0737b107;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.search{
    width: 15%;
}
.propInput input{
    background-color: transparent;
    border: none;
    width: 80%;
    outline: none;
}


.right{
    flex: 1;
    width: 100%;
    
}

.rightHeader{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:auto;
}


.rightHeader p:nth-child(1){

font-size: 36px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
width: 80%;
color: #0D263B;
margin:0;
}
.rightHeader p:nth-child(2){
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #626161;
width: 85%;
margin:0;
}

.rightBottom{
    display: flex;
    width: 95%;
    gap:10px;
    padding-top:10px;
}

.icon{
    color: #1c49bde5;
    height: 28px;
    width: 28px;
}

.RightSmallTextHead{
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin:0;
}

.RightSmallText{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #626161;
width: 95%;
margin:0;
}


@media (width <= 400px) {
    .Section{
        height: auto;
        width: 100%;
       display: flex;
       justify-content: center;
       padding: 40px 0;
    }
    
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        justify-content: center;
        gap: 30px;
        position: relative;
        padding-bottom: 80px; 
        align-items: center;
    }

    .MainImageContainer{
        display:flex;
        flex-direction:column;
        gap:32px;
    }
    .left{
        flex: 1;
        width: auto;
        position: relative;
        display: unset;
        justify-content: center;
    }

    .ToprightBottom{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap:32px;
    }

    .leftImage{
        width: 100%;
        height: 254px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }


    
.ImageComp{
    position: absolute;
    bottom: -20%;
    right: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 195px;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 10px 0 20px 0px rgba(128, 128, 128, 0.712);
}
   
.ImageComp p{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
color: #0D263B;
display: grid;
place-self: start;
padding-left: 7px;
}
.stars{
    height: 15px;
    width: 90px;
    display: grid;
    place-self: start;
    padding-left: 7px;
}

.propInput{
    width: 85%;
    border: 1px solid #0035BA;
    background-color: #0737b107;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.search{
    width: 16%;
}
.propInput input{
    background-color: transparent;
    border: none;
    width: 85%;
    outline: none;
}


.right{
    flex: 2;
    width: auto;
    height: auto;
}

.rightHeader{
    display: flex;
    flex-direction: column;
    height: auto;
}


.rightHeader p:nth-child(1){
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
    width: 95%;
    color: #0D263B;
    }
    .rightHeader p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    color: #626161;
    width: 95%;
    
    }
    
    .rightBottom{
        display: none;
        width: 100%;
        height:auto;
        gap: 10px;
    }

    .rightone{
        flex:1;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    .rightTwo{
        flex:1;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        gap:12px;
    }
    
    .icon{
        color: #1c49bde5;
        height: 35px;
        width: 35px;
    }
    
    .RightSmallTextHead{
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color:#141212;
        
    }
    
    .RightSmallText{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color:#626161;
        width:97%;
    }
  
}
@media (400px <= width <=779px) {
    .Section{
        height: auto;
        width: 100%;
       display: flex;
       justify-content: center;
       padding-top: 50px ;
       padding-bottom:90px;
    }
    
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        justify-content: center;
        gap: 30px;
        position: relative;
        padding: 40px 0;
        align-items: center;
    }

    .MainImageContainer{
        display:flex;
        flex-direction:column;
        gap:32px;
    }
    .left{
        flex: 1;
        width: auto;
        position: relative;
        display: unset;
        justify-content: center;
    }

    .ToprightBottom{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap:32px;
    }

    .leftImage{
        width: 100%;
        height: 254px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }



      
.ImageComp{
    position: absolute;
    bottom: -20%;
    right: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 195px;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 10px 0 20px 0px rgba(128, 128, 128, 0.712);
}
   
.ImageComp p{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
color: #0D263B;
display: grid;
place-self: start;
padding-left: 7px;
}
.stars{
    height: 15px;
    width: 90px;
    display: grid;
    place-self: start;
    padding-left: 7px;
}

.propInput{
    width: 85%;
    border: 1px solid #0035BA;
    background-color: #0737b107;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.search{
    width: 16%;
}
.propInput input{
    background-color: transparent;
    border: none;
    width: 85%;
    outline: none;
}

.right{
    flex: 2;
    width: auto;
    height: auto;
}

.rightHeader{
    display: flex;
    flex-direction: column;
    height: auto;
}


.rightHeader p:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
        width: 75%;
        color: #0D263B;
        }
        .rightHeader p:nth-child(2){
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            
        color: #626161;
        width: 95%;
        
        }
        
    .rightBottom{
        display: none;
        width: 100%;
        height:auto;
        gap: 8px;
    }
    .rightone{
        flex:1;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    .rightTwo{
        flex:1;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        gap:12px;
    }
    
    .icon{
        color: #1c49bde5;
        height: 35px;
        width: 35px;
    }
    
    .RightSmallTextHead{
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color:#141212;
        
    }
    
    .RightSmallText{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color:#626161;
        width:97%;
    }
}



@media (780px <= width <= 1200px) {
    .Section{
        height: auto;
        width: 100%;
       display: flex;
       justify-content: center;
       padding: 20px 0;
    }
    
    .container{
        display: flex;
        width: 90%;
        justify-content: center;
        
        gap: 30px;
        position: relative;
        padding: 20px 0;
        align-items: center;
    }
    .leftImage{
        width: 300px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }


    
.ImageComp{
    position: absolute;
    bottom: -20%;
    right: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 0 20px 0px rgba(128, 128, 128, 0.712);
}
   
.ImageComp p{
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
color: #0D263B;
display: grid;
place-self: start;
padding-left: 7px;
}
.stars{
    height: 15px;
    width: 80px;
    display: grid;
    place-self: start;
    padding-left: 7px;
}

.propInput{
    width: 85%;
    border: 1px solid #0035BA;
    background-color: #0737b107;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.search{
    width: 15%;
}
.propInput input{
    background-color: transparent;
    border: none;
    width: 80%;
    outline: none;
}


.right{
    flex: 2;
    width: auto;
}

.rightHeader{
    display: flex;
    flex-direction: column;
}


.rightHeader p:nth-child(1){

font-size: 30px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

    width: 65%;
    color: #0D263B;
    }
    .rightHeader p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #626161;
    width: 95%;
    
    }
    
    .rightBottom{
        display: flex;
        width: 100%;
    }
    
    .icon{
        color: #1c49bde5;
        height: 28px;
        width: 28px;
    }
    
    .RightSmallTextHead{
        font-size: 23px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .RightSmallText{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #626161;
    width: 100%;
    }
    
    

}