.section {
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 60px 0;
  width: 90%;
  gap: 40px;
  background: #e8efff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.MainText {
  width: 50%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContainer p span {
  color: red;
}
.MainText p:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #0d263b;
  width: 85%;
  margin: 0;
}

.MainText p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #272727;
  width: 80%;
  margin: 0;
}

.Video {
  width: 40%;
  height: 341px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.VideoTag {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

@media (width <= 400px) {
  .container {
    padding: 25px 10px;
    width: 100%;
    gap: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f7ff;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
  }
  .MainText {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    display: grid;
    width: 95%;
  }
  .MainText p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #141212;
    width: 100%;
  }

  .MainText p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;

    color: #626161;
    width: 98%;
  }

  .Video {
    width: 95%;
    height: 254px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
  }
}

@media (400px <= width <=779px) {
  .container {
    padding: 20px 10px;
    width: 100%;
    gap: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
  }
  .MainText {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    display: grid;
    width: 95%;
    height: auto;
  }
  .MainText p:nth-child(1) {
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #141212;
    width: 95%;
  }

  .MainText p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #626161;
    width: 98%;
  }

  .Video {
    width: 95%;
    height: 254px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
  }
}

@media (780px <= width <= 960px) {
  .container {
    padding: 30px 20px;
    width: 100%;
    gap: 10px;
  }
  .MainText {
    width: 50%;
    height: auto;
  }
  .MainText p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #141212;
    width: 85%;
  }

  .MainText p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #626161;
    width: 90%;
  }

  .Video {
    width: 50%;
    height: 254px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .VideoTag {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }
}
