.container * {
    font-family: "Poppins";
}

.Section{
    width: auto;
    display:flex;
    justify-content:center;
    background: var(--Background-2, #F8FAFF);
    min-height:65dvh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px 0;
    width:90%;
}

.Header{
font-size: 28px;
font-weight: 600;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color:black;
text-decoration: none;
}

