.container * {
    font-family: "Poppins";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Background-2, #F8FAFF);
    gap: 24px;
    padding: 20px 0 60px 0;
}

.container h2, .container h3, .container h4, .container p {
    margin: 0;
}

.container h2 {
    font-size: 24px;
    align-self: flex-start;
    margin-left: 30px;
}

.container a:first-of-type {
    flex-direction: row;
    padding: 0;
    background: none;
    width: auto;
    height: auto;
    align-self: flex-start;
    
    border-radius: none;
}

.container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: var(--gray-white, #FFF);
    width: 70%;
    height: 120px;
    padding: 30px;
    gap: 10px;
    text-decoration: none;
    color: black;
}

/* Transaction Id styling */
.container span{
    text-align: center;
    width: 50%;
    padding: 3px 8px;
    color: white;
    border-radius: 4px;
    background: var(--light-red-4, #E6556E);
    font-size: 14px
}