.container *, .container_two * {
    font-family: 'Poppins';
    font-size: 15px;
}

.container, .container_two {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 16px;
    background: var(--gray-white, #FFF);
    gap: 26px;
    padding: 25px 24px;
    font-size: 15px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    position: absolute;
    top: 230px;
}


.container select, .container_two select {
    /* color: #667085; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 13px;

    margin-top: 0;
    gap: 30px;

    font-size: 15px;
    
    border-radius: 8px;
    padding: 14px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background-color: var(--white, #FFF);

    /* Shadow/xs */
    /* box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); */
}

.container_two select {
    width: 100%;
}

.container option, .container_two option {
    font-size: 10px;
}

.container section {
    display: flex;
    flex-direction: column;
}

.container section > div {
    display: flex;
    align-items: center;
    
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    
}

.container section > div input {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.container > div:first-of-type  span{
    position: absolute;
    top: 63px;
    left: 11%;
}

.container > div:last-of-type span {
    position: absolute;
    top: 165px;
    left: 11%;
}

.container > div input {
    padding: 14px 23px;
}





.container input, .container_two input {
    border-radius: 8px;
    padding: 14px;
    
    border: 1px solid var(--gray-300, #D0D5DD);
}

.container section input {
    border: none; 
}

.container button:disabled {
    background-color: #D0D5DD;
}

.container button, .container_two button {
    display: flex;
    justify-content: center;
    /* width: 43%; */
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background: var(--brand-red, #DA0025);
    color: var(--white, #FFF);
    

}

.container input {
    width: 84%;
}

.container_two input {
    width: 90%;
}