.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: "Poppins";
}

.container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.container h2, .container p {
    margin: 0;
    width: 85%;
    line-height: 20px;
}

.container h2 {
    color: #141212;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container button {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: var(--brand-red, #DA0025);
    color: var(--white, #FFF);
    align-self: flex-start;
    position: relative;
    left: 7.5%;
}

.container p:last-of-type {
    display: flex;
    flex-direction: column;
}

.container a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin: 8px 0;
}

/* --------------------------------- */
.container_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 55px 0;
    background: #edeff2;
    font-family: "Poppins";
}

.container_two article, .container_two section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 12px;
    
}

.container_two article:first-of-type p, .container_two section p {
    color: var(--grey-4, #626161);
}

.container_two article:first-of-type  h3{
    margin: 0;
}

.container_two article:first-of-type  p{
    text-align: center;
}


.container_two h3, .container_two p {
    margin: 0;
}

.container_two section p {
    font-size: 14px; 
    color: var(--grey-4, #626161);
    width: 75%;
}

.container_two ul {
    font-size: 15px;  
    margin: 10px 0;
    padding-left: 20px;
}