.Section{
  display: flex;
  justify-content: center;
  background-color: #e4e6eb32;
}

.Container{
    display: flex;
    flex-direction: column;
    width:90%;
    height:auto;
    padding:50px 0;
    gap: 50px;
}


.FormContainer{
    width:100%;
}

.Herocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 15px;
    width: 100%;
   
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    width: 55%;
    height: 50px;
    padding: 0px 10px;
    color: #2c3a61;
    text-decoration: none;
    border: solid 1px #000000;
    border-radius: 8px;
    background-color: white;
  }
  
  .inputContainer input{
      width: 100%;
      height: 85%;
      border: none;
      outline: none;
      font-size: 18px;
  }
  

  
.SelectContainer {
    border: solid 1px #000000;
    border-radius: 8px;
    width: 23%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  .SelectContainer select{
      height: 95%;
      width: 95%;
      border: none;
      outline: none;
      font-size: 16px;
  }
  
  .SelectContainer select option{
      font-size: 16px;
  }
  .searchButton {
    height: 50px;
    width: 10%;
    background-color: #da0025;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  .searchButton:hover{
      background-color: #99041d;
      cursor: pointer;
      transition: ease 0.4s;
      -webkit-transition: ease 0.4s;
      -moz-transition: ease 0.4s;
      -ms-transition: ease 0.4s;
      -o-transition: ease 0.4s;
  }

  .searchButton img {
    display:none;
  }
  
  
  .muti{
    width:100%;
    height:auto;
  }


  .section {
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:30px;
  }

.mainDiv {
    width: 100%;
    height: 100%;
    padding: 16px 5%;
    background: white;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.infoDiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width:auto;
}

.image {
    width: 188px;
    height: 72.64px;
}

.moreInfoDiv {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px #001F6D solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.moreInfoText {
    color: #001F6D;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400;
    cursor: pointer;
}

.separator {
    width: 99px;
    height: 0;
    transform: rotate(-90deg);
    border: 0.50px #4b4b4bb8 solid;
}

.feeDiv{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.feeAmount{
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;

}

.feeType{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color:#626161;
}

.locationDiv{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:16px;
}
  
.locationInfo{
    display:flex;
    align-items: center;
    gap:8px;
}

.locationText{
    color: var( #141212);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.priceDetailsText{
    color: var(--brand-blue, #001F6D);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align:center;
cursor:pointer;
}

.actionsDiv{
    display: flex;
    width:150px;
    justify-content:space-between;
}

.actionButton{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    cursor:pointer;
}
.actionButton:hover{
    scale: 0.90;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}




@media ( width <=400px) {
    .Herocontainer {
        gap: 10px;
        width: 100%;
       
      }
      
    
  .inputContainer {
    width: 45%;
  }
  
  .inputContainer input{
      font-size: 14px;
  }
  
  
.SelectContainer {
    width: 35%;
  }
  
  .SelectContainer select{
      width: 95%;
      font-size: 14px;
  }
    .searchButton {
        width: 20%;
      }

    .searchButton img{
        display:block;
    }
    .searchButton p{
        display:none;
    }
    .mainDiv {
        width: 100%;
        height: 100%;
        padding: 16px 5%;
        background: white;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction:column;
        gap:20px;
    }
    .separator {
        width: 100%;
        height: 0;
        transform: rotate(0deg);
        border: 0.50px #4b4b4b62 solid;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

.feeDiv{
    display:flex;
    flex-direction: unset;
    align-items:center;
    gap:12px;
}

}
@media (400px <= width <=779px) {
    .searchButton img{
        display:block;
    }
    .searchButton p{
        display:none;
    }
    .mainDiv {
        width: 100%;
        height: 100%;
        padding: 16px 5%;
        background: white;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction:column;
        gap:20px;
    }
    .separator {
        width: 100%;
        height: 0;
        transform: rotate(0deg);
        border: 0.50px #4b4b4b62 solid;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    
}

@media (780px <= width <= 960px) {
    
}
